<h1>Songs</h1>
<ul>
<p><%= @songs.size %></p>
  <% @songs.each do |song| %>
    <li>
      <%= link_to "#{song.artist_name}" - "#{song.artist}", song %>
      <%= link_to song.artist_name, song.artist %>
        <%=  %>
  
        <%= song.title %>
    </li>
  <% end %>
</ul> 